.page-watch {
    max-width: 1250px;
    margin: 0 auto;
}

.watch-tittle {
    margin: 30px 32px 32px 0;
}

.name-watch {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    font-style: normal;
}
 
.about-name-watch {
    font-size: 26px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
}

.video-watch {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
